---
layout: none
---

{% include head.html %}

<body>
  <div style="max-width: 960px; display: inline-block; text-align: left">
    <span>Dmitry Mazin (<a href="">dm@archvile.net</a>)</span>
    <span style="display: block; font-size: 16px">
      <p>Hello. Thanks for visiting my page. Here's a little about me.</p>

      <p>I live in London, UK with my wife and kid.</p>

      <p>
        I was born in St. Petersburg, Russia. I moved to the US in 2000. I have
        lived in Los Angeles, Flagstaff, Berkeley, San Francisco, and New Jersey
        (near Lambertville). If you lived anywhere near those places, reach out!
      </p>

      <p>
        I am interested in the history of computing and the internet, internet
        communities, and, especially, text entry systems.
      </p>

      <p>Professionally, I babysit infra.</p>

      <p>Feel free to reach out. I love meeting people.</p>
    </span>
    <div style="margin-top: 5px">
      <ul>
        {% for post in site.posts %}
        <li>
          ({{ post.date | date: "%b '%y" }})
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
