<footer class="site-footer">
  <div class="wrapper">
    <p>If you read this far, maybe you'll want to hear from me again.</p>
    <ul>
      <li>
        <a
          href="https://cyberdemon.substack.com/?r=kk1l&utm_campaign=pub&utm_medium=web"
          >Get my posts via email</a
        >.
      </li>
      <li>Sign up to an <a href="/feed.xml">RSS feed of my posts</a>.</li>
      <li>
        <a href="https://file-explorers.club/@dmitry">Follow me on Mastodon</a>.
      </li>
    </ul>
    <p>
      If you'd like to discuss this post, please do reach out! My email is
      <a href="mailto:dm@cyberdemon.org">dm@cyberdemon.org</a>.
    </p>
  </div>
</footer>
