body { margin: 0; padding: 5px; font-size: 24px; text-align: center; font-family: sans-serif; }
ul { margin: 0; padding: 0; list-style: none; }
.index-illustration {
  max-width: 664px;
}
@media screen and (max-width: 664px) {
  .index-illustration { max-width: 100%; }
}
